RATOT_CURRENT_TOKEN=<application_id>.<secret>
RATOT_CURRENT_FLUXER_ID=<application_id>
RATOT_CURRENT_NAME=Ratot
DBURL=mongodb://fluxerbots:<MONGO_ROOT_PASSWORD>@fluxer-mongo:27017/ratot?authSource=admin
COMMAND_PREFIX=!
FLUXER_API_BASE=https://fluxer.world/api
PORT=3000
