TOKEN=<application_id>.<secret>
MONGODB=mongodb://fluxerbots:<MONGO_ROOT_PASSWORD>@fluxer-mongo:27017/functious?authSource=admin
SENTRY_DSN=
BOTID=<application_id>
CDN=https://fluxer.world
CDN_KEY=
FLUXER_API_BASE=https://fluxer.world/api
